.main-page{
    text-align: center;
}
.main-page img{
    border: 8px solid black;
    border-radius: 8px;
}
.background-info{
    background-color:rgb(252, 179, 84);
    margin: 10px 50px 10px 50px;
    font-size: 20px;
    border-radius: 30px 10px 30px 0;
    padding: 10px;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    position: relative;
    display: flex;
    align-items: center;
    -webkit-box-shadow: -2px -1px 15px 7px rgba(0,0,0,0.5);
    -moz-box-shadow: -3px -2px 30px 14px rgba(0,0,0,0.425);
    box-shadow: -10px -3px 45px 21px rgba(0,0,0,0.35);
    text-shadow: 2px 2px 4px #000000;
  }

  table, th, td {
    border:5px solid black;
    word-wrap:break-word;
    background-color: rgb(252, 179, 84);
  }
  table {
    width:90%;
    margin: 0 0 0 5%;
  }
  #champion_stats_chart{
    top: 20px;
    right: 40px;
    color: #000000;
    width:400px;
    height:400px;
    position: absolute;
    background-color: #c49c9c;
    border-radius: 25%;
    padding: 30px;
    box-shadow: 10px 5px 5px #473a3a;
  }

  * {
    box-sizing: border-box
  }
  .mySlides1 {
    display: none
  }
  img {
    vertical-align: middle;
  }
  
  /* Slideshow container */
  .slideshow-container {
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top:40%;
    width: auto;
    padding: 30px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: #000000;
  }
  
  /* Position the "next button" to the right */
  .prev {
    left: 20%;
    border-radius: 3px 0 0 3px;
  }
  .next {
    right: 20%;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a grey background color */
  .prev:hover, .next:hover {
    background-color: #f1f1f1;
    color: black;
  }
  .champ-pic{
    width: 100vh;
  }